/* 单行显示省略css样式 */
.single-line-omission{
    overflow: hidden;
    /** 设置内容中的空格的处理方式 **/
    white-space: nowrap;
    /** 当文本超出容器边界时如何处理 **/
    text-overflow: ellipsis;
}

/* 多行省略 */
h2 {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 109.2px;
    font-size: 26px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
intwoline {
    display:-webkit-box !important;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:break-all;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}

/* 绝对定位的div居中 */
div {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* 垂直居中 */
div {
    position: absolute;/* 相对定位或绝对定位均可 */
    width:500px;
    height:300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 利用 flex 布局 */
.container {
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}
.container div {
    width: 100px;
    height: 100px;
}

